<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuM3mfu8wRuUDXmwDjevhhue7bbBxKOoI</string>
	<key>GCM_SENDER_ID</key>
	<string>918727185493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>reddit-a76d4</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-a76d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918727185493:ios:8bc3592196fae67733b0dc</string>
</dict>
</plist>